In [161]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [162]:
df = pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [163]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [164]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [165]:
 
    #encoded_data = pd.get_dummies(df['Category'])
#encoded_data

In [166]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [167]:
X_train

940     Better. Made up for Friday and stuffed myself ...
1848    FREE NOKIA Or Motorola with upto 12mths 1/2pri...
3774    I came hostel. I m going to sleep. Plz call me...
1868    Mmmm ... Fuck ... Not fair ! You know my weakn...
2758                Yo we are watching a movie on netflix
                              ...
2781    Long after I quit. I get on only like 5 minute...
781     Your opinion about me? 1. Over 2. Jada 3. Kusr...
4236    FREEMSG: Our records indicate you may be entit...
1263    Hungry gay guys feeling hungry and up 4 it, no...
1010    Dear Hero,i am leaving to qatar tonite for an ...
Name: Message, Length: 4179, dtype: object

In [168]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [169]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [170]:
emails = [
     'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!',
    'Hey mohan, can we get together to watch footbal game tomorrow?',
      '515',
    ' '
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 0, 0, 0], dtype=int64)

In [175]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9842067480258435